html, body {
    background-color: #ffef93;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main {
    flex-direction: column;
    margin-top: 100px;
}

#logoImg {
    margin-bottom: -45px;
}

h1 {
    color: #47473B;
    font-family: 'Dela Gothic One', sans-serif;
    /* font-style: italic; */
    margin: 30px 0px;
    font-size: 24px;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    text-align: center;
    align-self: center;
    align-items: center;
}

.socialMediaIcon {
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1c479;
    border-radius: 290px;
    padding: 12px;
    margin-bottom: 6px;
}

#devLabel {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

#githubIcon {
    margin-left: 2px;
}